{% extends 'base.html' %}

{% block content %}

<div>
    <span class="selection">
        <h3>External Vulnerability Index and Sovereign Risk Assessment</h3> 
    </span>

    {% if user.is_authenticated %}
    <span class="selection">
        <form method="POST">
            {% csrf_token %}

            Choose Year: <select name='year' id="ddlYears2" ></select>
            <!-- <input type="submit" value="View Data" onclick="javascript: form.action='/year';"> -->
            <!-- <input type="submit" value="View Bar Graph" onclick="javascript: form.action='/graph';"> -->
            <!-- <input type="submit" value="View Developing Country Graph" onclick="javascript: form.action='/wGraph';"> -->
            <input type="submit" value="Refresh Data" onclick="javascript: form.action='/refreshData';">
        </form>
    </span>
    {% endif %}

    <span class="selection">
        <form action="/" method="POST">
            {% csrf_token %}
            <!-- <label for="worldPlt">World Map For:</label> -->
            Year: <select name='year' id="ddlYears0" ></select>
            <select id="worldPlot" name="worldPlot">
                <option value="debtDistressProb">Debt Distress Probability</option>
                <option value="specGradeProb">Speculative Grade Probability</option>
            </select>
            <input id="which_plt" name="which_plt" type="hidden" value="wPlot">
            <input type="submit" value="View Developing Countries Graph">
        </form>
    </span>
</div>

<br>
<hr>

{% if not is_post or is_native_barp%}
<h4 style="display: flex; justify-content: center; align-items: center;"> Developing Countries <script type="text/javascript">document.write(new Date().getFullYear());</script></h4>
{% endif %}

{% if is_post and not is_native_barp%}
<h4 style="display: flex; justify-content: center; align-items: center;"> Developing Countries {{year}}</h4>
{% endif %}

<div style="margin: 20px; width: 1380px; height: 550px;" id="mapChart"> </div> </div>

<div class="info-text text-center">
    <p>In this map above White colour/(0 Value) indicates that we are not calculating or we does not account the 
        data of this countries in our research.</p>
</div>
<br>
<hr>

<span class="selection chart-form">
    <form action="/" method="POST">
        {% csrf_token %}
        <!-- <label for="barPlts">Bar Plot For:</label> -->
        Year: <select name='year' id="ddlYears1" ></select>
        <select id="barPlts" name="barPlts">
            <option value="debtDistressProb">Debt Distress Probability</option>
            <option value="specGradeProb">Speculative Grade Probability</option>
        </select>

        <!-- <label for="regions">Bar Plot For Region:</label> --> 
        <select id="region" name="region">
            <option value="global">Developing Countries</option>
            <option value="eastAsia">East Asia and Pacific</option>
            <option value="europe">Europe and Central Asia</option>
            <option value="latinAmerica">Latin America & the Caribbean</option>
            <option value="middleEast">Middle East and North Africa</option>
            <!-- <option value="northAmerica">North America</option> -->
            <option value="southAsia">South Asia</option>
            <option value="saharanAfrica">Sub-Saharan Africa</option>
        </select>
        <input id="which_plt" name="which_plt" type="hidden" value="bPlot">
        <input type="submit" value="View Regional Bar Plot">
    </form>
</span>

{% if not is_post or not is_native_barp%}
<h4 style="display: flex; justify-content: center; align-items: center;"> {{region_name}} <script type="text/javascript">document.write(new Date().getFullYear());</script></h4>
{% endif %}

{% if is_post and is_native_barp%}
<h4 style="display: flex; justify-content: center; align-items: center;"> {{region_name}} {{year}}</h4>
{% endif %}

<div style="margin: 20px 20px 0px 20px; width: 1380px;">
    <canvas id="myChart"></canvas>
</div>
<!-- <br> -->
<hr>
<div class="info-text">
<p>The External Vulnerability Index and Sovereign Risk Assessment for developing countries was developed by Sanket Mohapatra and Hansa Mehrotra. </p>

<p>The risk indicators presented in this webpage are the result of a modelling exercise based on available macroeconomic data and do not capture changes in political and other factors that can also affect sovereign risk. The authors are thankful to IIMA and UTI AMC for financial support, and to Jayesh Manani for designing the website.  </p>
</div>

<!-- This Script is for Dynamically Creat the Drop Down Menu for Years-->
<script type="text/javascript">
    window.onload = function () {
        //Reference the DropDownList.
        var ddlYears0 = document.getElementById("ddlYears0");
        var ddlYears1 = document.getElementById("ddlYears1");
        var ddlYears2 = document.getElementById("ddlYears2");
        //Determine the Current Year.
        var currentYear = (new Date()).getFullYear();
 
        //Loop and add the Year values to DropDownList.
        for (var i = currentYear; i >= 1980; i--) {
            var option = document.createElement("OPTION");
            option.innerHTML = i;
            option.value = i;
            ddlYears0.appendChild(option);
        }
        for (var i = currentYear; i >= 1980; i--) {
            var option = document.createElement("OPTION");
            option.innerHTML = i;
            option.value = i;
            ddlYears1.appendChild(option);
        }
        for (var i = currentYear; i >= 1980; i--) {
            var option = document.createElement("OPTION");
            option.innerHTML = i;
            option.value = i;
            ddlYears2.appendChild(option);
        }
    };
</script>

 <!-- script for alert message if data is updated -->
<script type="text/javascript">
    var alrt = {{ alrt | safe }};
    console.log(alrt)

    if (alrt == 1) {
        alert('Your Data Is Updated successfully!');
    };
 
</script>

 <!-- script for alert message if data is refreshed -->
 <script type="text/javascript">
    
    var tf_status = {{ tf_status | safe }};
    console.log(tf_status)
    if (tf_status == 1) {
        alert('Your Data Is Refreshed Successfully!');
    };

</script>

<!-- Script For Barplot -->
<script>
    var label_name = ( {{is_debt_distress|safe}} ? 'Debt Distress Probability': 'Speculative Grade Probability');
    var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: {{country_name|safe}},
        datasets: [{
            label: label_name,
        //    backgroundColor: 'rgb(255, 99, 132)',
        //    borderColor: 'rgb(255, 99, 132)',
            backgroundColor: 'rgb(0, 0, 255)',
            borderColor: 'rgb(0, 0, 255)',
            data: {{barplotVal|safe}}
        }]
    },

    // Configuration options go here
    options: {}
});


</script>

<!-- Script for Creating WorldMap -->
<script>
    var spec_data={{dataForMapGraph|safe}};

    var is_Spec = {{is_spec_worldPlot|safe}};
    var title_text = ( is_Spec ? 'Speculative Grade Probability':'Debt Distress Probability');
    var series_name = ( is_Spec ? 'Speculative Grade':'Debt Distress Probability');

    Highcharts.getJSON('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/world-population-density.json', function (data) { 
      

        // Prevent logarithmic errors in color calulcation
        data.forEach(function (p) {
            p.value = (p.value < 1 ? 1 : p.value);
        });
    
        // Initiate the chart
        Highcharts.mapChart('mapChart', {
    
            chart: {
                map: 'custom/world'
            },

           // colors: ['rgba(64,19,117,0.05)', 'rgba(64,19,117,0.2)', 'rgba(64,19,117,0.4)',
             //   'rgba(64,19,117,0.5)', 'rgba(64,19,117,0.6)', 'rgba(64,19,117,0.8)', 'rgba(64,19,117,1)'],
            colors: ['rgba(255,255,255,0)' ,'rgba(255,0,0,0.13)', 'rgba(255,0,0,0.27)', 'rgba(255,0,0,0.41)',
                'rgba(255,0,0,0.56)', 'rgba(255,0,0,0.70)', 'rgba(255,0,0,0.84)', 'rgba(255,0,0,1)'],
            title: {
                    text: title_text
                    //'Speculative Grade Probability'
            },
    
            legend: {
                title: {
                    text: title_text,
                    style: {
                        color: ( // theme
                            Highcharts.defaultOptions &&
                            Highcharts.defaultOptions.legend &&
                            Highcharts.defaultOptions.legend.title &&
                            Highcharts.defaultOptions.legend.title.style &&
                            Highcharts.defaultOptions.legend.title.style.color
                        ) || 'black'
                    }
                }
            },
    
            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },
    
            tooltip: {
                backgroundColor: 'none',
                borderWidth: 0,
                shadow: false,
                useHTML: true,
                padding: 0,
                pointFormat: '<span class="f32"><span class="flag {point.properties.hc-key}">' +
                    '</span></span> {point.name}<br>' +
                    '<span style="font-size:30px">{point.value}</span>',
                positioner: function () {
                    return { x: 0, y: 250 };
                }
            },
            colorAxis: {
                dataClassColor: 'category',
                dataClasses: [
                {
                    to: 0.01
                },
                {   
                    from: 0.01,
                    to: 14
                }, {
                    from: 14,
                    to: 28
                }, {
                    from: 28,
                    to: 42
                }, {
                    from: 42,
                    to: 57
                }, {
                    from: 57,
                    to: 71
                }, {
                    from: 71,
                    to: 85
                }, {
                    from: 85
                }]
            },

   series: [{
                data: spec_data,
                joinBy: ['iso-a3', 'code3'],
                name: series_name,
                states: {
                    hover: {
                        color: '#a4edba'
                    }
                }
            }]
        });
    });
    
</script>


{% endblock %}