.selection{
    justify-content: center; 
    align-items: center; 
    display: flex;
    margin-bottom: 15px;

}

html{
    min-height: 100%;
    position: relative;

}

html, body {
    scroll-padding-top: 70px; /* height of sticky header */
}

body{        
    padding-top: 60px;
    padding-bottom: 40px;    
    /* overflow-y: hidden; /* Hide vertical scrollbar */
    /* overflow-x: hidden; Hide horizontal scrollbar */
}

.fixed-header, .fixed-footer{
    width: 100%;
    background: #333;
    padding: 10px 0;
    color: #fff;
    justify-content: center; 
    align-items: center; 
    display: flex;
    z-index: 10;
}

.fixed-header{
    margin-left: 0px;
    top: 0;
    position: fixed;
}

.fixed-footer{
    bottom: 0;
    position: absolute;
    left: 0;
    height: auto;
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
    z-index: 10;
}
/* footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: fixed; 
    width: 100%;
  } */

p, a{
    color: white;
}

.footer-social{
    margin: 10px 10px 10px 10px;
}

#mapChart {
    height: 560px; 
    width: 90%; 
    margin: 0 auto; 
}

.highcharts-tooltip>span {
    padding: 10px;
    white-space: normal !important;
    width: 200px;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.f32 .flag {
    vertical-align: middle !important;
}

.info-text {
    max-width: 1423px;
    padding: 0px 35px 14px;
}
.info-text p{
    color: black;
}
.selection input[type="submit"] {
    background-color: #0000ff;
    color: #fff;
    border: 0;
    font-size: 15px;
    line-height: 16px;
    display: inline-block;
    padding: 6px 15px 8px;
    border-radius: 5px;
    margin-left: 5px;
    text-transform: capitalize;
}

.selection select {
    border: 1px solid;
    border-radius: 4px;
    padding: 4px 7px;
    vertical-align: top;
    margin-left: 6px;
}

section {
    padding-top: 31px;
}
span.selection.chart-form {
    margin-top: 11px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.selection input[type="submit"]:hover {
    background-color: rgb(0 0 255 / 0.8);
}

.login-main-wrap {
    max-width: 1500px;
    margin: 0px auto;
}

.login-main-wrap h2 {
    text-align: center;
    margin-bottom: 24px;
}

.login-main-wrap form {
    text-align: center;
    max-width: 350px;
    margin: 0px auto;
    box-sizing: border-box;
}

.login-main-wrap form input {
    border: 1px solid;
    border-radius: 4px;
    padding: 4px 7px;
    vertical-align: top;
    margin-left: 6px;
    width: 100%;
}

.login-main-wrap form p label {
    color: #000;
    width: 150px;
}

.login-main-wrap form p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-main-wrap form button {
    background-color: #0000ff;
    color: #fff;
    border: 0;
    font-size: 15px;
    line-height: 16px;
    display: inline-block;
    padding: 9px 15px 10px;
    border-radius: 5px;
    margin-left: 5px;
    text-transform: capitalize;
    margin-left: 105px;
    width: 100%;
    box-sizing: border-box;
    max-width: 248px;
}

.wrapper {
    max-width: 1400px;
    margin: 0px auto;
}